{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Logged Out - JP2Forge Web{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0"><i class="bi bi-box-arrow-right"></i> Logged Out</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Thank you for using JP2Forge Web</h5>
                <p class="card-text">You have been successfully logged out.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">
                    <i class="bi bi-box-arrow-in-right"></i> Log in again
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}